.sidenav {
  font-size: 14px;
  color: $desc-color;

  @media #{$large-and-up} {
    top: 64px;
    z-index: 996;
  }

  .sidenav-link {
    padding-right: 10px !important;
    
  }
  
  .collapsible-body {
    padding-left: 1rem;
  }

  // Override material sidenav values
  li {
    background-color: transparent !important;

    a {
      color: $desc-color;
      background-color: transparent !important;
    }
    
    a:hover {
      color: $blue;
    }
  }


  .selectedPage {
    color: $blue;
  }

  .collapsible-header:hover {
    background: transparent;
  }

  .material-icons {
    padding: 0 !important;
    font-size: 16px;
  }

  // Logo wrapper for mobile
  .logo-wrapper {
    margin: 16px 0px;
    display: block;
    padding-left: 32px;
  }

  .section {
    &.active {
      background: #eee;
    }
    & > span {
      display: flex;
      padding-right: 24px;
      & > * {
        color: inherit;
        &:hover {
          color: $blue !important;
          transition: 0.2s ease-out;
        }
      }
      & > a {
        padding: 0 8px 0 32px;
      }
      & > i {
        padding: 0;
      }
      font-weight: 700;
      font-size: 15px;
      justify-content: space-between;
    }
  }

  // toggle add remove icons in sub section
  .icon-add {
    display: inline-block;
  }
  .icon-remove {
    display: none !important;
  }

  .sub-section.active > span > .collapsible-header.material-icons.icon-add {
    display: none;
  }

  .sub-section.active > span > .collapsible-header.material-icons.icon-remove {
    display: inline-block !important;
  }
}
