.topbar {
  position: fixed;
  z-index: 997;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 56px;
  line-height: 56px;
  background: white;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  @media #{$large-and-up} {
    height: 64px;
    line-height: 64px;
    padding: 0 40px;
  }
  .sidenav-trigger {
    color: $blue;
  }
  a {
    display: flex;
  }
  ul {
    height: 100%;
    display: flex;
    li {
      padding: 0 16px;
      height: 100%;
      a {
        color: $dark-color;
        transition: color 0.3s;
        font-weight: normal;
        font-size: 16px;

        .github-logo {
          height: 48px;
          width: 48px;
        }
        &.active {
          color: $blue;
        }
        &:hover {
          background-color: transparent;
          color: $blue;
        }
      }
    }
  }
  .logo {
    display: inline-flex;
    height: 100%;
    align-items: center;

    img {
      height: 36px;
    }
  }
}
