.topbar {
  position: fixed;
  z-index: 5;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 56px;
  line-height: 56px;
  background: white;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  @media #{$large-and-up} {
    height: 64px;
    line-height: 64px;
    padding: 0 40px;
  }
  .sidenav-trigger {
    color: $blue;
  }
  a {
    display: flex;
  }
  ul {
    height: 100%;
    display: flex;
    li {
      padding: 0 16px;
      height: 100%;
      a {
        color: $dark-color;
        transition: color 0.3s;
        font-weight: normal;
        font-size: 16px;

        .github-logo {
          height: 48px;
          width: 48px;
        }
        &.active {
          color: $blue;
        }
        &:hover {
          background-color: transparent;
          color: $blue;
        }
      }
    }
  }
  .logo {
    display: inline-flex;
    height: 100%;
    align-items: center;

    img {
      height: 36px;
    }
  }

  .aa-input-container {
    display: inline-block;
    position: relative;
  }
  .aa-input-search{
    width: 500px;
    padding: 12px 28px 12px 12px;
    border: 1px solid #e4e4e4;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  .aa-hint{
    top: 11px !important;
  }
  #aa-search-input, .aa-input-search{
    vertical-align: middle !important;
  }

  .aa-input-search::-webkit-search-decoration, .aa-input-search::-webkit-search-cancel-button,
  .aa-input-search::-webkit-search-results-button, .aa-input-search::-webkit-search-results-decoration {
    display: none;
  }
  .aa-input-icon {
    height: 16px;
    width: 16px;
    position: absolute;
    top: 50%;
    right: 16px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    fill: #e4e4e4;
    pointer-events: none;
  }
  .aa-dropdown-menu {
    background-color: #fff;
    border: 1px solid rgba(155, 155, 155, 0.8);
    width: 500px;
    margin-top: 10px;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  }
  .aa-suggestion {
    padding: 8px;
    cursor: pointer;
    width: 500px;
  }
  .aa-suggestion + .aa-suggestion {
    border-top: 1px solid rgba(228, 228, 228, 0.6);
  }

  .search-link{
    text-decoration: none;
    color: $desc-color;
    display: block;
    line-height: normal;
  }
  .search-section{
    font-size: 18px;
    line-height: 1.5;
    font-weight: bold;
  }
  .search-summary {
    width: 475px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }

  @media #{$medium-and-down}{
    .aa-input-search, .aa-dropdown-menu, .aa-suggestion{
      width: auto;
    }
    
    .aa-hint{
      top: 8px !important;
    }

    .search-section{
      font-size: 16px;
      width: auto;
    }

    .search-summary{
      font-size: 14px;
      -webkit-line-clamp: 2;
      width: auto;
    }
  }
}
