@import "materialize/materialize";

@import "variables";
@import "custom-components/topbar";
@import "custom-components/sidenav";
@import "custom-components/content";
@import "custom-components/highlight";
@import "custom-components/table_of_content";
@import "custom-components/page_link_card";
@import "custom-components/page_cards";

body {
  font-family: "Poppins", sans-serif;
  color: $desc-color;
}

html{
  scroll-padding-top: 90px;
  @media #{$medium-and-down}{
    scroll-padding-top: 122px;
  }
}
