<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link type="text/css" rel="stylesheet" href="/css/app.css" media="screen,projection" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Documentation | Space Up Technologies</title>
  <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons|Raleway:100,200,300,400,500,600,700,800,900|Open+Sans:300,400,600,700,800"
    rel="stylesheet" />
  <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous"> -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-104521884-6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-104521884-6');
</script>

<body>
  {{ partial "topbar.html" . }}
  {{ partial "sidenav.html" . }}

  <div class="docs-content">
    <div class="row">
      <div class="col s12 l9">
        <h1>{{.Title}}</h1>
        {{ emojify .Content }}
        <!-- {{ partial "page_cards.html" .}} -->
        {{ partial "prev_next_section.html" . }}
        {{ partial "contribution.html" . }}
      </div>
    </div>
  </div>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script>
    $(document).ready(function () {
      $('.sidenav').sidenav();
      $('.collapsible').collapsible();
      $('.tabs').tabs();
    });
  </script>
  <script src="https://cdn.jsdelivr.net/npm/algoliasearch@3/dist/algoliasearchLite.min.js"></script>
  <script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js"></script>
  <script>
  const client = algoliasearch('6UWRFSDKNM', '5db50d933f260cd4b18a781bd16d5e85');
  const introduction = client.initIndex('Introduction');
  const install = client.initIndex('Install');
  const storage = client.initIndex('Storage');
  const microservices = client.initIndex('Microservices');
  const userManagement = client.initIndex('User Management');

  autocomplete(
    '#aa-search-input',
    {
      debug: true
    },
    [
      {
        source: autocomplete.sources.hits(introduction, {hitsPerPage: 1}),
        displayKey: 'page',
        page: 'description',
        templates: {
          header: '<div class="aa-suggestions-category">Introduction</div>',
          suggestion({_highlightResult, url}) {
            return `<a class="search-link" href="${url}"> <span class="search-page">${_highlightResult.title.value} | ${_highlightResult.sub_title.value} | ${_highlightResult.page.value}</span><hr style="color: #333">
            <span class="search-heading">${_highlightResult.heading.value}</span><br>
            <span class="search-description">${_highlightResult.description.value}</span></a>`;
          },
          empty: '<div class="aa-empty">No matching players</div>',
        },
      },
      {
        source: autocomplete.sources.hits(install, {hitsPerPage: 1}),
        displayKey: 'page',
        page: 'description',
        templates: {
          header: '<div class="aa-suggestions-category">Install</div>',
          suggestion({_highlightResult, url}) {
            return `<a class="search-link" href="${url}"> <span class="search-page">${_highlightResult.title.value} | ${_highlightResult.sub_title.value} | ${_highlightResult.page.value}</span><hr style="color: #333">
            <span class="search-heading">${_highlightResult.heading.value}</span><br>
            <span class="search-description">${_highlightResult.description.value}</span></a>`;
          },
          empty: '<div class="aa-empty">No matching players</div>',
        },
      },
      {
        source: autocomplete.sources.hits(storage, {hitsPerPage: 2}),
        displayKey: 'page',
        page: 'description',
        templates: {
          header: '<div class="aa-suggestions-category">Storage</div>',
          suggestion({_highlightResult, url}) {
            return `<a class="search-link" href="${url}"> <span class="search-page">${_highlightResult.title.value} | ${_highlightResult.sub_title.value} | ${_highlightResult.page.value}</span><hr style="color: #333">
            <span class="search-heading">${_highlightResult.heading.value}</span><br>
            <span class="search-description">${_highlightResult.description.value}</span></a>`;
          },
          empty: '<div class="aa-empty">No matching players</div>',
        },
      },
      {
        source: autocomplete.sources.hits(microservices, {hitsPerPage: 2}),
        displayKey: 'page',
        page: 'description',
        templates: {
          header: '<div class="aa-suggestions-category">Microservices</div>',
          suggestion({_highlightResult, url}) {
            return `<a class="search-link" href="${url}"> <span class="search-page">${_highlightResult.title.value} | ${_highlightResult.sub_title.value} | ${_highlightResult.page.value}</span><hr style="color: #333">
            <span class="search-heading">${_highlightResult.heading.value}</span><br>
            <span class="search-description">${_highlightResult.description.value}</span></a>`;
          },
          empty: '<div class="aa-empty">No matching players</div>',
        },
      },
      {
        source: autocomplete.sources.hits(userManagement, {hitsPerPage: 1}),
        displayKey: 'page',
        page: 'description',
        templates: {
          header: '<div class="aa-suggestions-category">User Management</div>',
          suggestion({_highlightResult, url}) {
            return `<a class="search-link" href="${url}"> <span class="search-page">${_highlightResult.title.value} | ${_highlightResult.sub_title.value} | ${_highlightResult.page.value}</span><hr style="color: #333">
            <span class="search-heading">${_highlightResult.heading.value}</span><br>
            <span class="search-description">${_highlightResult.description.value}</span></a>`;
          },
          empty: '<div class="aa-empty">No matching players</div>',
        },
      },
    ]
  );
  </script>
</body>

</html>