<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0" />
  <link rel="shortcut icon" type="image/png" href="/images/kit/logo.svg"/>
  <link type="text/css" rel="stylesheet" href="/css/app.css" media="screen,projection" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{.Description}} | Space Cloud Docs</title>
  <meta name="description" content="{{.Description}}">
  <meta name="title" content="{{.Description}} | Space Cloud Docs" />
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;700;800&display=swap"
    rel="stylesheet" />
  <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous"> -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-104521884-6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-104521884-6');
</script>

<body>
  {{ partial "topbar.html" . }}
  {{ partial "sidenav.html" . }}

  <div class="docs-content">
    <div class="row">
      <div class="col s12 l9">
        <div class="table_of_contents">
          <ul class="collapsible hide-on-large-only">
            <li class="collapsible-li">
              <div class="collapsible-header"><i class="material-icons drop-icon">arrow_right</i>Table of content</div>
              <div class="collapsible-body">
                <div class="edit_page">
                  {{ with .File.Path }}
                  <a class="edit_link" href="https://github.com/spaceuptech/space-docs/tree/master/content/{{ . }}" target="_blank"><i class="material-icons" style="font-size: 20px; margin-right: 8px;">edit</i>Edit this page</a>
                  {{ end }}
                  <a class="" href="https://github.com/spaceuptech/space-docs/issues" target="_blank"><img src="/images/kit/github.svg" style="filter: brightness(0) saturate(100%) invert(35%) sepia(78%) saturate(5017%) hue-rotate(218deg) brightness(101%) contrast(103%); width: 20px; height: 20px; margin-right: 8px;"/><span>Create an issue</span></a>
                </div>
                {{ partial "table_of_contents" . }}
              </div>
            </li>
          </ul>
        </div>
        <h1>{{.Description}}</h1>
        {{ emojify .Content | replaceRE "(<h[1-6] id=\"(.+)\".*>)(.*)(</h[1-6]>)" `${1}<a class="sub-heading" href="#${2}">${3}<i class="material-icons">link</i></a>${4}` | safeHTML }}
        {{ partial "prev_next_section.html" . }}
        {{ partial "contribution.html" . }}
      </div>
      <div class="col l3 hide-on-med-and-down">
        <div class="edit_page">
          <a class="edit_link" href="https://github.com/spaceuptech/space-docs/tree/master/content{{ strings.TrimSuffix `/` .Page.RelPermalink }}.md" target="_blank"><i class="material-icons" style="font-size: 16px; margin-right: 8px;">edit</i>Edit this page</a>
          <a class="" href="https://github.com/spaceuptech/space-docs/issues" target="_blank"><img src="/images/kit/github.svg" style="filter: brightness(0) saturate(100%) invert(35%) sepia(78%) saturate(5017%) hue-rotate(218deg) brightness(101%) contrast(103%); width: 16px; height: 16px; margin-right: 8px;"/><span>Create an issue</span></a>
        </div>
        {{ partial "table_of_contents" . }}
      </div>
    </div>
  </div>
  <!-- Load Algolia scripts -->
  <script src="https://cdn.jsdelivr.net/npm/algoliasearch@3/dist/algoliasearchLite.min.js"></script>
  <script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js"></script>
  <!-- Initialise search -->
  <script src="/js/search.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="/js/general.js"> 
  </script>
  <script src="/js/newsletter.js"></script>
</body>

</html>
