<div class="contribution-wrapper">
  <div class="row" style="margin:0">
    <div class="col s12 l6">
      <div class="chats-wrapper">
        <p class="chat-title open-source-text">Have a technical question?</p>
        <div class="image-wrapper">
          <a href="https://discord.gg/ypXEEBr"><img src="/images/kit/discord.svg" alt=""></a>
          <a href="https://stackoverflow.com/search?q=space-cloud"><img src="/images/kit/stack_overflow.svg"
              style="margin-left:30px" alt=""></a>
        </div>
      </div>
    </div>
    <div class="col s12 l6">
      <div class="github-wrapper">
        <p class="github-title open-source-text">Improve the docs!</p>
        <a href="https://github.com/spaceuptech/space-docs"><img class="github-image"
            src="/images/kit/github.svg" alt=""></a>
      </div>
    </div>
  </div>
</div>