{{$pageUrl := .Page.RelPermalink}}
{{ $sortedPages :=  slice }}
{{ range $a, $section0 := .Site.Sections.ByWeight }}
{{$sortedPages = $sortedPages | append $section0 }}
{{ range $b, $section1 := $section0.Pages.ByWeight}}
{{$sortedPages = $sortedPages | append $section1 }}
{{ range $c, $section2 := $section1.Pages.ByWeight}}
{{$sortedPages = $sortedPages | append $section2 }}
{{ range $d, $section3 := $section2.Pages.ByWeight}}
{{$sortedPages = $sortedPages | append $section3 }}
{{ range $e, $section4 := $section3.Pages.ByWeight}}
{{$sortedPages = $sortedPages | append $section4 }}
{{ range $f, $section5 := $section4.Pages.ByWeight}}
{{$sortedPages = $sortedPages | append $section5 }}
{{ end }}
{{ end }}
{{ end }}
{{ end }}
{{ end }}
{{ end }}

{{$nextPage := ""}}
{{$prevPage := ""}}
{{ range $i, $page := $sortedPages}}
{{ if eq $page.RelPermalink $pageUrl }}
{{ if gt $i 0 }}
{{$prevPage = index $sortedPages (sub $i 1)}}
{{end}}
{{ if lt $i (sub (len $sortedPages) 1) }}
{{$nextPage = index $sortedPages (add $i 1)}}
{{end}}
{{end}}
{{ end }}

{{$prevPageTitle := ""}}
{{$prevPageParentName := ""}}
{{$nextPageTitle := ""}}
{{$nextPageParentName := ""}}

<div class="row" style="width: 100%">
  <div class="col s12 l6">
    {{if ne $prevPage ""}}
    <a class="page_link_card" href="{{$prevPage.RelPermalink}}">
      <div class="container">
        <div>
          <i class="material-icons">arrow_back</i>
        </div>
        <div class="content-holder align-right">
          <div class="category">
            {{ if or (not $prevPage.Parent) (eq $prevPage.Parent.Name "") }}
            Space Cloud
            {{ else }}
            {{$prevPage.Parent.Name}}
            {{ end }}
          </div>
          <div class="title">
            {{$prevPage.Title}}
          </div>
        </div>
      </div>
    </a>
    {{end}}
  </div>
  <div class="col s12 l6">
    {{if ne $nextPage ""}}
    <a class="page_link_card" href="{{$nextPage.RelPermalink}}">
      <div class="container">
        <div class="content-holder">
          <div class="category">
            {{ if or (not $nextPage.Parent) (eq $nextPage.Parent.Name "") }}
            Space Cloud
            {{ else }}
            {{$nextPage.Parent.Name}}
            {{ end }}
          </div>
          <div class="title">
            {{$nextPage.Title}}
          </div>
        </div>
        <div>
          <i class="material-icons">arrow_forward</i>
        </div>
      </div>
    </a>
    {{end}}
  </div>
</div>