{{$pageUrl := .Page.Permalink}}
<ul id="slide-out" class="sidenav sidenav-fixed">
  <a href="/" class="logo-wrapper hide-on-large-only">
    <img class="logo-img" src="/images/kit/logo_full.svg" alt="">
  </a>
  <li class="no-padding">
    <ul class="collapsible collapsible-accordion">
      {{ range .Site.Sections.ByWeight }}
      <li class="section {{ if in $pageUrl .Permalink }}active{{end}}">
        <span>
          <a class="{{ if eq $pageUrl .Permalink }}selectedPage{{end}}" href="{{.RelPermalink}}">{{ upper .Name }}</a>
          <i class="material-icons collapsible-header">dehaze</i>
        </span>
        {{ .Scratch.Set "pageUrl" $pageUrl }}
        {{ partial "sidenav_section.html" . }}
      </li>
      {{ end }}
    </ul>
  </li>
</ul>