<div class="topbar  valign-wrapper">
  <a data-target="slide-out" class="sidenav-trigger hide-on-large-only">
    <i class="material-icons">dehaze</i>
  </a>
  <a href="https://spaceuptech.com" class="logo"><img src="/images/kit/logo_full.svg" alt="logo"></a>
  <ul class="right hide-on-med-and-down">
    <li><a href="https://learn.spaceuptech.com">Learn </a></li>
    <li><a href="/" class="active">Docs</a></li>
    <!-- <li><a href="https://spaceuptech.com/plans">Plans </a></li> -->
    <li><a href="https://blog.spaceuptech.com" id="selected">Blog</a></li>
    <li>
      <a class="logo" href="https://github.com/spaceuptech/space-cloud" target="_blank">
        <img class="github-logo" src="/images/kit/github.svg">
      </a>
    </li>
  </ul>
  <a class="logo hide-on-large-only" href="https://github.com/spaceuptech/space-cloud" target="_blank">
    <img class="github-logo" src="/images/kit/github.svg">
  </a>
</div>